    <header class="main-header">
        <div class="main-header-top">
            <div class="main-header-bar wrapper">
                <a class="main-logo" href="index.html">
                    <p class="">Логотип</p>
                </a>
                {{#each menus}}
                <a class="menu-item" href="{{link}}"><img class ="img" src="{{img}}" width="14" height="16"><span>{{text}}</span></a>
                {{/each}}
            </div>
        </div>
        <div class="header-middle wrapper">
            <div class="headinfo-block">
                <h2 class="headinfo">Слоган</h1>
            </div>

            <ul class="login-block">
                <li class="login1">
                    <a href="#">
                  Войти
                  </a>
                </li>
                <li class="login2">
                    <a href="#">
                  Регистрация
                  </a>
                </li>
            </ul>
        </div>
        <nav class="mainnav">
            <ul class="site-navigation">
                <li class="main-nav-ul-link"><a href="#">Главная</a></li>
                <li class="main-nav-ul-link"><a href="#">О проекте</a></li>
                <li class="main-nav-ul-link"><a href="#">Команда</a></li>
                <li class="main-nav-ul-link"><a href="#">Проф-ориентирование</a></li>
                <li class="main-nav-ul-link"><a href="#">Прокачать софт скиллы</a></li>
                <li class="main-nav-ul-link"><a href="#">Прокачать хард скиллы</a></li>
                <li class="main-nav-ul-link"><a href="#">Изучать английский</a></li>
                <li class="main-nav-ul-link"><a href="#">Стать стажером</a></li>
                <li class="main-nav-ul-link"><a href="#">Найти стажера</a></li>
                <li class="main-nav-ul-link"><a href="#">Гарантии</a></li>
                <li class="main-nav-ul-link"><a href="#">Возврат средств</a></li>
                <li class="main-nav-ul-link"><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </header>